@import url("nav.css");
@import url("welcome.css");
@import url("mainindex.css");
@import url("footer.css");
@import url("aboutme.css");
@import url("partcv1.css");
@import url("partcv2.css");
@import url("cv.css");
@import url("who.css");
@import url("itemwho.css");
@import url("formdiscord.css");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

html{
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(https://i.ytimg.com/vi/uQEBXWMBHhk/maxresdefault.jpg);
    background-size: cover;
    background-repeat: repeat;
    font-family: "Poppins", sans-serif;
    color: white;
}

header{
    width: 100%;
}

::-webkit-scrollbar{
    display: none;
}

main{
    position: relative;
    padding-top: 180px;
}

h2{
    font-weight: bold;
}

@media screen and (max-width: 900px){   
    main{
        padding-top: 30px;
    }

    h2{
        text-align: center;
    }

    body {
        overflow-x: hidden;
        max-width: 100%;
    }

    main {
        max-width: 100%;
    }
}