.who p{
    text-align: center;
    font-weight: bold;
}

.who ul li a{
    color: white;
}

.who ul{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.who ul li{
    padding-right: 30px;
}

.who ul li:hover{
    opacity: 0.8;
}

@media screen and (max-width: 900px){   
    .who ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .who ul li{
        padding-top: 10px;
    }  
}