*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}


body {
    height: 100vh;
    width: 100vw;
    background-image: url(https://i.ytimg.com/vi/uQEBXWMBHhk/maxresdefault.jpg);
    background-size: cover;
    background-repeat: repeat;

}

header{
    width: 100%;
}

.navbar{
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;

}

.navbar a{
    color: white;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;

}

.navbar .nav-links{
    display: flex;
    align-items: center;
}

.navbar .nav-links ul{
    display: flex;

}

.navbar .nav-links ul li{
    margin: 0 25px;
}

.navbar .nav-links ul li.active a{
    color: red;
    font-weight: 500;
}

.navbar .menu-ham{
    display: none;
    position: absolute;
    right: 20px;
    top: 40px;
    width: 30px;
}

.bvn{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
}

.dscp{
    padding-top: 10px;
    text-align: center;
}

.ex{
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 200px;
    right: 5vw;
}

.discordex{
    max-width: 60%;
    height: auto;
    border-radius: 15%;
    transition: all 0.2s;

}

.discordex:hover{
    box-shadow:8px 8px 10px 0 rgba(255, 255, 255, 0.573);
}

.descdis{
    color: white;
    font-size: 6vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
}

.descdis.gras{
    font-weight: bold;
}

.disc{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

::-webkit-scrollbar{
    display: none;

}

@media screen and (max-width: 900px){
    .navbar .logo{
        position: absolute;
        top: 20px;
        left: 20px;
    
    }
    .navbar{
        padding: 0%;
    }
    .navbar .menu-ham{
        display: block;
        z-index: 2;
    }

    .navbar .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        z-index: 2;

    }
    .nav-links.mobile-menu{

        margin-left: 0;
    }
    

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 20px;
    }
    .navbar .nav-links .mobile-menu {
        margin-left: 0%;
    }

    .bvn{
        z-index: 1;
    }

}