*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}


body {
    height: 100vh;
    width: 100vw;
    background-image: url(https://i.ytimg.com/vi/uQEBXWMBHhk/maxresdefault.jpg);
    background-size: cover;
    background-repeat: repeat;
    font-family: "Poppins", sans-serif;
    color: white;
}

header{
    width: 100%;
    font-size: 10;
}

.navbar{
    position: absolute;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;

}

.navbar a{
    color: white;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;

}

.navbar .nav-links{
    display: flex;
    align-items: center;
}

.navbar .nav-links ul{
    display: flex;

}

.navbar .nav-links ul li{
    margin: 0 25px;
}

.navbar .nav-links ul li.active a{
    color: red;
    font-weight: 500;
}

.navbar .menu-ham{
    display: none;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
}

.welcome{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
    font-size: 23px;
}

.desc{
    padding-top: 10px;
    font-size: 17px;
    text-align: center;
}

.exemple-produit{
    position: relative;
    display: flex;
    justify-content: flex-end;
    right: 5vw;
    
}

.discordex{
    max-width: 60%;
    height: auto;
    border-radius: 15px;
    transition: all 0.2s;

}

.discordex:hover{
    box-shadow:8px 8px 10px 0 rgba(255, 255, 255, 0.573);
}

.descdiscord{
    color: white;
    font-size: 7vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
}

.descdiscord.gras{
    font-weight: bold;
}

.discord{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

::-webkit-scrollbar{
    display: none;

}

footer{
    background-color: gray;
    bottom: 0;
    padding-left: 100%;

}
main{
    position: relative;
    top: 200px;
}

.description-content{
    position: relative;
    text-align: center;
    padding-top : 60px;
    color : white;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-nay{
    display: none;
}

.aboutme{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.school{
    font-size: 1.6vw
}

.esaip{
    position: relative;
    width: 30vw;
    right: 50px;
}

.Bachelor{
    color: white;
    font-weight: bold;
}

.configpc{
    position: relative;
    text-align: center;
    padding-top: 30px;
}

h2{
    font-weight: bold;
}

footer{
    position: relative;
    color: #f0f9ff;
    background-color:hsl(200, 9%, 6%);
    padding:10px 0;
    top: 220px;
}

footer h3{
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

footer ul{
    line-height: 1.6;
    font-size: 14px;

}

footer ul a{
    color: inherit;
    opacity: 0.6;
}

footer ul a:hover{
    opacity: 0.8;
}

.itemfooter{
    display: flex;
    justify-content: space-evenly;

}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.copyright{
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 900px) and (prefers-color-scheme: dark){
    .body{
        background-color: black;
    } 

    .navbar .logo{
        position: absolute;
        top: 20px;
        left: 20px;
    
    }
    .navbar{
        padding: 0%;
    }
    .navbar .menu-ham{
        display: block;
        z-index: 2;
        cursor: pointer;
    }

    .navbar .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        z-index: 2;

    }
    
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 20px;
    }
    .navbar .nav-links .mobile-menu {
        margin-left: 0%;
    }

    .welcome{
        z-index: 1;
    }

    .description-content{
        font-size: 2vw;
    }

    main{
        top: 149px;
    }

    .logo-nay{
        position: relative;
        display: block;
        max-width: 50%;
        
        clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
        padding-top: 20px;
    }

    .exemple-produit {
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        right: 0;

    }

    .discord{
        align-items: center;
        
    }

    .descdiscord{
        font-size: 10vw;
        padding-right: 0;
       
    }

    .discordex{
        max-width: 90%;
    }

    .aboutme{
        flex-direction: column;
        
    }

    .esaip{
        right: 0;
        width: 60vw;

    }

    .school{
        padding-top: 20px;
        font-size: 4vw;
        text-align: center;
    }

    .composant{
        padding-top: 5px;
        font-size: 4vw;
        text-align: center;
    }


}